# Set C++17 as the standard
build --cxxopt='-std=c++17'

# Set the minimum macOS version to 10.14, otherwise ANTLR will not compile
build --cxxopt=-mmacosx-version-min=10.14
build --linkopt=-mmacosx-version-min=10.14